repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.4.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: name-tests-test
        args: ["--pytest-test-first"]
      - id: trailing-whitespace

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.282"
    hooks:
      - id: ruff

  - repo: https://github.com/psf/black
    rev: "23.7.0"
    hooks:
      - id: black

  # - repo: https://github.com/shellcheck-py/shellcheck-py
  #   rev: v0.9.0.5
  #   hooks:
  #     - id: shellcheck

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [--exit-zero]
        # ignore all tests, not just tests data
        exclude: ^tests/

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: d2425a62376c2197448cce2f825d5a0c3926b862
    hooks:
      - id: pretty-format-toml
        args: [--autofix]

  - repo: https://github.com/aristanetworks/j2lint.git
    rev: 1f242682122fa258557e429f1b92fadd6d2be2d4
    hooks:
      - id: j2lint
        args: [--ignore, jinja-statements-delimiter, jinja-statements-indentation, --]
