
{% include 'header.html.j2' %}
{% include 'navbar.html.j2' %}

<body>
    <h1>Welcome to the FastAPI Schematic Editor!</h1>
    <p>To access the schematic editor, <a href="/schematic_editor">click here</a>.</p>
</body>

{% include 'footer.html.j2' %}
