# API Verification

## KLayout DRC

::: gplugins.klayout.drc.write_drc.write_drc_deck_macro

::: gplugins.klayout.drc.write_drc.check_width

::: gplugins.klayout.drc.write_drc.check_space

::: gplugins.klayout.drc.write_drc.check_separation

::: gplugins.klayout.drc.write_drc.check_enclosing

::: gplugins.klayout.drc.write_drc.check_area

::: gplugins.klayout.drc.write_drc.check_density

::: gplugins.klayout.drc.write_drc.check_not_inside

## KLayout Dataprep

::: gplugins.klayout.dataprep.regions.RegionCollection
